.main-dashboard-container {
    display: flex;
    justify-content: center;
    padding: 20px;
    border-radius: 25px;
    background-color: var(--light-grey);
    margin-left: 30px;
    margin-right: 30px;
}

.main-dashboard-container h2 {
    margin: 0;
}

.dash-content-mid h3 {
    margin: 0;
    color: var(--main-orange);
}

.dash-content {
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.dash-content-mid{
    box-sizing: border-box;
    border-radius: 15px;
    padding: 2%;
    margin-left: 2%;
    margin-right: 2%;
}

.dash-content-mid a {
    color: white;
    margin-bottom: 5px;
}

.dash-index-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}