.nav-container {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    max-width: 150px;
}