.nav-container {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-left-nav-container {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 50px;
    padding-top: 50px;
}

.top-left-nav-container img {
    max-width: 100px;
}

.nav-content {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo {
    max-width: 150px;
}

.sub-nav {
    display: flex;
    justify-content: center;
}

.search-input {
    margin-right: 5px;
    border: none;
    background-color: var(--light-grey);
    border-radius: 15px;
    max-width: 100%;
    min-width: 40%;
}

.submit-search-btn {
    box-shadow: none;
    width: 40px;
    height: 40px;
    margin-right: 20px;
    border-radius: 50%;
    background-color: var(--light-pink);
}

.log-in-sign-up-btn {
    color: var(--main-orange);
    border: 1pt solid var(--main-orange);
    font-size: medium;
    min-width: 80px;
}

.log-in-sign-up-btn:hover {
    color: white;
    border: 1pt solid var(--main-orange);
    background-color: var(--main-orange);
    font-size: medium;
    min-width: 80px;
    font-weight: 600;
}

.logout-btn {
    color: var(--grey);
    padding: 5px;
    border-radius: 15px;
    border: 1pt solid var(--grey);
    font-size: smaller;
    width: 60px;
    background-color: white;
    cursor: pointer;
    position: absolute;  
    right: 15px;  
    top: 15px;  
}

.ham-bar {
    width: 30px;
    height: 3px;
    background-color: var(--main-orange);
}

.ham-menu {
    height: 30px;
    cursor: pointer;
    position: absolute;  
    right: 25px;  
    top: 25px; 
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.ham-popup-menu {
    height: auto;
    border-radius: 15px;
    position: absolute;  
    right: 60px;  
    top: 25px; 
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: flex-end;
}

.menu-item {
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 15px;
    margin-top: 5px;
    background-color: var(--light-grey);
    font-size: small;
    width: fit-content;
}

