.tile-container img {
    max-width: 160px;
    border-radius: 15px;
}

.tile-container {
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    background-color: var(--light-grey);
    padding: 10px;
    border-radius: 15px;

}

.tile-details {
    margin-top: 5px;
    padding: 6px;
    background-color: white;
    padding-bottom: 10px;
    width: 150px;
    border-radius: 15px;
}

.tile-details h2 {
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 0;
}

.tile-details p {
    font-size: 10px;
    margin-top: 3px;
}

.tile-buttons {
    display: flex;
    justify-content: flex-end;
}

.view-details-btn {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: none;
    background-color: var(--light-pink);
}