:root {
  --light-pink: #F1CECE;
  --light-grey: #F6F6F6;
  --main-orange: #DB8C17;

}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn {
  padding: 10px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 15px;
  background-color: white;
  border: 1pt solid black;
  -webkit-box-shadow: 7px 7px 6px -6px rgba(0,0,0,0.47);
  -moz-box-shadow: 7px 7px 6px -6px rgba(0,0,0,0.47);
  box-shadow: 7px 7px 6px -6px rgba(0,0,0,0.47);
  cursor: pointer;
}
